.buscar > .MuiButton-label{
    height: 39px;
}

.MuiButton-root{
    text-transform: none !important;
}

.active.MuiButton-outlinedPrimary{
    background:#2196f3;
    color:white;
}

.active.MuiButton-outlinedPrimary:hover{
    background:#2196f3;
    color:white;
}

.divlogo{
    height: 50px;
    width: -webkit-fill-available;
}